<%= form_for(parking) do |f| %>
  <% if parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parkrequest %>
    <%= f.datetime_select :parkrequest %>
  </div>

  <div class="field">
    <%= f.label :parkallowed %>
    <%= f.text_field :parkallowed %>
  </div>

  <div class="field">
    <%= f.label :datetime %>
    <%= f.text_field :datetime %>
  </div>

  <div class="field">
    <%= f.label :parkcompleted %>
    <%= f.text_field :parkcompleted %>
  </div>

  <div class="field">
    <%= f.label :getbikerequest %>
    <%= f.text_field :getbikerequest %>
  </div>

  <div class="field">
    <%= f.label :datetime %>
    <%= f.text_field :datetime %>
  </div>

  <div class="field">
    <%= f.label :getbikecompleted %>
    <%= f.text_field :getbikecompleted %>
  </div>

  <div class="field">
    <%= f.label :datetime %>
    <%= f.text_field :datetime %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
