<p id="notice"><%= notice %></p>

<h1>Parkings</h1>

<table>
  <thead>
    <tr>
      <th>Parkrequest</th>
      <th>Parkallowed</th>
      <th>Datetime</th>
      <th>Parkcompleted</th>
      <th>Getbikerequest</th>
      <th>Datetime</th>
      <th>Getbikecompleted</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.parkrequest %></td>
        <td><%= parking.parkallowed %></td>
        <td><%= parking.datetime %></td>
        <td><%= parking.parkcompleted %></td>
        <td><%= parking.getbikerequest %></td>
        <td><%= parking.datetime %></td>
        <td><%= parking.getbikecompleted %></td>
        <td><%= parking.datetime %></td>
        <td><%= link_to 'Show', parking %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
        <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking', new_parking_path %>
